
@{
    Layout = "~/Views/Shared/UnLoginView.cshtml";
}

@section TitleSection{家庭理财系统}
@section ContentBody
{
    <div class="container-fluid" style="margin-top:15px; margin-bottom:15px;padding-top:25px;padding-bottom:20px;">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="container-fluid" style="text-align:center;">
                <h2>忘记密码</h2><br />
                <h4>给大头虾们的馈赠【手动滑稽</h4>
            </div>
            <hr style="border:1px solid;color:brown;">
            <div class="container-fluid">
                <form action="/Authentication/ChangePassword" method="post">
                    <div class="form-group">
                        <label for="UName">账号名</label>
                        <input type="text" class="form-control" name="UName">
                    </div>
                    <div class="form-group">
                        <label for="UPhone">注册手机号</label>
                        <input type="tel" class="form-control" name="UPhone">
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">新密码</label>
                        <input type="password" class="form-control" name="NewPassword">
                    </div>
                    <div class="form-group">
                        <label for="CfmPassword">修改密码</label>
                        <input type="password" class="form-control" name="CfmPassword">
                    </div>
                    <div style="text-align:center;">
                        <input type="submit" id="btnStyle" name="btnSubmit" style="padding-left:15px; padding-right:15px;" value="提交" />
                        &nbsp;&nbsp;
                        <input type="submit" id="btnStyle" name="btnSubmit" style="padding-left:15px; padding-right:15px;" value="取消" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
}

