<!--底部信息-->
<div class="col-md-4"></div>
<div class="col-md-4" style="text-align:left;margin-top:2px;padding-right:10px;text-align:center">
    Copyright © 2017 Biye Sheji. All rights reserved.
</div>
<div class="col-md-4"></div>