@using FinancialWebSite.ViewModels
@model BaseViewModel

<nav class="navbar navbar-default" style="background-color:#cd8c5c;">
    
        <div class="navbar-header">
            <a class="navbar-brand" style="color:white; padding-top:0px;" href="#">
                <b><img alt="Brand" src="~/Pic/LogoPIC.png">&nbsp;&nbsp;家庭理财系统</b>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Index/Index">首页 <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">流水账<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background-color:#cd8c5c">
                        <li><a href="/Account/Accounting">浏览/查询</a></li>
                        <li><a href="/Account/AddAccount">新增</a></li>                        
                    </ul>
                </li>     
                <li><a href="/Borrow/Borrow">借贷管理墙</a></li>  
                <li><a href="/Contention/Title">讨论圈</a></li>     
                <li></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">           
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Model.UserName<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background-color:#cd8c5c">
                        <li><a href="/Personal/PersonalInfo">浏览/修改个人信息</a></li>
                        <li><a href="/Personal/MyContention">我的帖子</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Authentication/Logout">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
</nav>